.pane {
    display: none; /* Hidden by default */

    position: fixed; /* Sit on top of the page content */
    width:  calc(60% - 2rem); /* Full width (cover the whole page) */
    height: calc(60% - 2rem); /* Full height (cover the whole page) */
    top: 20%;
    left: 20%;
    right: 0;
    bottom: 0;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    overflow: auto;
}

.instructions {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #defd;
    border: 1px solid #579;
    border-radius: 6px;
    padding-left: 2rem;
    padding-top: 2rem;
}

.variables {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fedd;
    border: 1px solid #975;
    border-radius: 6px;
    padding-left: 2rem;
    padding-top: 2rem;
}

.log {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #dfed;
    border: 1px solid #597;
    border-radius: 6px;
    padding-left: 2rem;
    padding-top: 2rem;
}

.variables-button {
    display: block;

    position: fixed; /* Sit on top of the page content */
    width:  36px; /* Full width (cover the whole page) */
    height: 36px; /* Full height (cover the whole page) */
    top: 2rem;
    right: 2rem;
    border-radius: 50%;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    overflow: auto;
}

.instructions-button {
    display: block;

    position: fixed; /* Sit on top of the page content */
    width:  36px; /* Full width (cover the whole page) */
    height: 36px; /* Full height (cover the whole page) */
    top: 5rem;
    right: 2rem;
    border-radius: 50%;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    overflow: auto;
}

.log-button {
    display: block;

    position: fixed; /* Sit on top of the page content */
    width:  36px; /* Full width (cover the whole page) */
    height: 36px; /* Full height (cover the whole page) */
    top: 8rem;
    right: 2rem;
    border-radius: 50%;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    overflow: auto;
}

.button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eee;
    border: 2px solid #36d;
    border-radius: 50%;   
    font-size:large;
}

.logged-command {
    font-family:'Courier New', Courier, monospace, mono;
}

.logged-error {
    font-family:'Courier New', Courier, monospace, mono;
    background: #fde;
    color: #d11;
    margin-right: 1rem;
}